@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@model SearchModel
@{
    ViewData["Title"] = @Localizer["page_title"];
}

<table class="table table-hover">
    <thead class="bg-light">
        <tr>
            <td colspan="4" class="h3">
                @Localizer["search_results"]
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach(var collection in Model.Collections)
        {
            <tr>
                <td>
                    <a class="text-dark" href="@Url.Action("GetCollection", "Collections", new { id = collection!.Id })">@collection.Name</a>
                    <span style="font-size:0.7em" class="text-secondary">
                        @Localizer["by"]
                    </span>
                    <a class="text-dark" href="@Url.Action("GetUser", "Users", new { username = collection.Author!.UserName})">@collection.Author!.UserName</a>
                </td>
            </tr>
        }
        @foreach(var item in Model.Items)
        {
            <tr>
                <td>
                    <a class="text-dark" href="@Url.Action("Items", "Collections", new { id = item.Id })">@item.Name</a>
                    <span style="font-size:0.7em" class="text-secondary">
                        @Localizer["in"]
                    </span>
                    <a class="text-dark" href="@Url.Action("GetCollection", "Collections", new { id = item.Collection!.Id })">@item.Collection!.Name</a>
                    <span style="font-size:0.7em" class="text-secondary">
                        @Localizer["by"]
                    </span>
                    <a class="text-dark" href="@Url.Action("GetUser", "Users", new { username = item.Collection.Author!.UserName})">@item.Collection.Author!.UserName</a>
                </td>
            </tr>
        }
    </tbody>
</table>