@using Microsoft.AspNetCore.Mvc.Localization;
@inject IHtmlLocalizer<Project.Localization.SharedResources> SharedLocalizer;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Collection Manager</title>
    <link rel="stylesheet" href="~/scss/bootstrap.custom.min.css" />
    <link rel="stylesheet" href="~/scss/bootstrap.custom.darkmode.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.14.0/css/selectize.bootstrap5.min.css"/>
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <script src="~/js/darkmode.js"></script>
    <header>
        <nav class="navbar navbar-expand-xl navbar-toggleable-xl navbar-light bg-light box-shadow border-bottom mb-3">
            <div class="container-fluid">
                <div></div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-xl-inline-flex justify-content-between">
                    <div class="d-xl-none d-block mt-3"><partial name="SearchBar" /></div>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">@SharedLocalizer["home"].Value</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="UserManagement">@SharedLocalizer["admin_panel"]</a>
                            </li>
                        }
                    </ul>
                    <div class="d-xl-block d-none mx-3">
                        <partial name="LanguageSelect" />
                    </div>
                    <div class="d-xl-block d-none">
                        <partial name="DarkmodeToggle" />
                    </div>
                    <div class="d-xl-block d-none"><partial name="SearchBar" /></div>
                    <ul class="navbar-nav me-auto">
                        @if (User.Identity!.Name != null)
                        {
                                <li class="navbar-text text-secondary">
                                    @SharedLocalizer["logged_in_as"] 
                                    <a href="@Url.Action("GetUser", "Users", new { username = @User.Identity.Name })" >@User.Identity.Name</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Account" asp-action="Logout">@SharedLocalizer["log_out"]</a>
                                </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Login">@SharedLocalizer["log_in"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Register">@SharedLocalizer["register"]</a>
                            </li>
                        }
                    </ul>
                    <div class="d-xl-none d-flex flex-row my-3">
                        <div class="mr-3"><partial name="LanguageSelect" /></div>
                        <div><partial name="DarkmodeToggle" /></div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Ariadna Głodek
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/13.0.1/markdown-it.min.js"></script>
    <script src="~/js/markdown-display.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0/mustache.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
