@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@model Collection
@{
    ViewData["Title"] = @Localizer["page_title"];
}
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/formexpander.js"></script>
    <script src="https://unpkg.com/stackedit-js@1.0.7/docs/lib/stackedit.min.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script src="~/js/description-editor.js"></script>
    <script src="~/js/image-upload.js"></script>
}

<form method="post" enctype="multipart/form-data">
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <div class="mb-1">
                        <label asp-for="Name" class="form-label">@Localizer["collection_name"]</label>
                        <input asp-for="Name" class="form-control" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="mb-1">
                        <label asp-for="Topic" class="form-label">@Localizer["collection_topic"]</label>
                        <select asp-for="Topic" class="form-select">
                            <option value="Books">@Localizer["books"]</option>
                            <option value="Stamps">@Localizer["stamps"]</option>
                            <option value="Coins">@Localizer["coins"]</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="mb-3">
                        <label asp-for="Description" class="form-label">@Localizer["collection_description"]</label>
                        <a id="edit-description" class="btn btn-outline-primary"><i class="bi bi-pencil"></i></a>
                        <textarea asp-for="Description" class="form-control" id="description-textarea" readonly hidden></textarea>
                        <div id="description" class="bg-light p-2 mt-3 rounded border" style="min-height:30px;"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="mb-1">
                        <label for="image" class="form-label">@Localizer["image"]:</label>
                        <input name="collectionImage" type="file" class="filepond">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-expandable">
                        <h6>@Localizer["int_fields"]</h6>
                        <button type="button" class="btn btn-outline-primary form-expand"><i class="bi bi-plus"></i></button>
                        <button type="button" class="btn btn-outline-danger form-collapse"><i class="bi bi-dash"></i></button>
                        @for(int i = 0; i < 3; ++i)
                        {
                            <div class="input-group expandable-input mt-1" hidden>
                                <input asp-for="Items[0].CustomIntFields[i].Name" class="form-control" placeholder="@Localizer["custom_field_name"]" disabled />
                            </div>
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-expandable">
                        <h6>@Localizer["string_fields"]</h6>
                        <button type="button" class="btn btn-outline-primary form-expand"><i class="bi bi-plus"></i></button>
                        <button type="button" class="btn btn-outline-danger form-collapse"><i class="bi bi-dash"></i></button>
                        @for (int i = 0; i < 3; ++i)
                        {
                            <div class="input-group expandable-input mt-1" hidden>
                                <input asp-for="Items[0].CustomStringFields[i].Name" class="form-control" placeholder="@Localizer["custom_field_name"]" disabled />
                            </div>
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-expandable">
                        <h6>@Localizer["textarea_fields"]</h6>
                        <button type="button" class="btn btn-outline-primary form-expand"><i class="bi bi-plus"></i></button>
                        <button type="button" class="btn btn-outline-danger form-collapse"><i class="bi bi-dash"></i></button>
                        @for (int i = 0; i < 3; ++i)
                        {
                            <div class="input-group expandable-input mt-1" hidden>
                                <input asp-for="Items[0].CustomTextAreaFields[i].Name" class="form-control" placeholder="@Localizer["custom_field_name"]" disabled> </input>
                            </div>
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-expandable">
                        <h6>@Localizer["bool_fields"]</h6>
                        <button type="button" class="btn btn-outline-primary form-expand"><i class="bi bi-plus"></i></button>
                        <button type="button" class="btn btn-outline-danger form-collapse"><i class="bi bi-dash"></i></button>
                        @for (int i = 0; i < 3; ++i)
                        {
                            <div class="input-group expandable-input mt-1" hidden>
                                <input asp-for="Items[0].CustomBoolFields[i].Name" class="form-control" placeholder="@Localizer["custom_field_name"]" disabled />
                            </div>
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-expandable">
                        <h6>@Localizer["date_fields"]</h6>
                        <button type="button" class="btn btn-outline-primary form-expand"><i class="bi bi-plus"></i></button>
                        <button type="button" class="btn btn-outline-danger form-collapse"><i class="bi bi-dash"></i></button>
                        @for (int i = 0; i < 3; ++i)
                        {
                            <div class="input-group expandable-input mt-1" hidden>
                                <input asp-for="Items[0].CustomDateFields[i].Name" class="form-control" placeholder="@Localizer["custom_field_name"]" disabled />
                            </div>
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input asp-for="Items[0].Name" value="hiddenItem" hidden />
                    <button type="submit" class="btn btn-primary">@Localizer["add_collection"]</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<div>
        @Html.ValidationSummary(false, "", new { @class = "text-danger mt-3" })
</div>