@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@model Collection
@{
    ViewData["Title"] = @Localizer["page_title"];
}
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

<form method="post" enctype="multipart/form-data">
    <div class="mb-1">
        <label asp-for="Name" class="form-label">@Localizer["collection_name"]:</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="mb-1">
        <label asp-for="Topic" class="form-label">@Localizer["collection_topic"]:</label>
        <select asp-for="Topic" class="form-select">
            <option value="Books">@Localizer["books"]</option>
            <option value="Stamps">@Localizer["stamps"]</option>
            <option value="Coins">@Localizer["coins"]</option>
        </select>
    </div>
    <div class="mb-1">
        <label asp-for="Description" class="form-label">@Localizer["collection_description"]:</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="mb-1">
        <label for="image" class="form-label">@Localizer["image"]:</label>
        <input name="collectionImage" type="file" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">@Localizer["add_collection"]</button>
</form>
<div>
        @Html.ValidationSummary(false, "", new { @class = "text-danger mt-3" })
</div>