@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@model Collection
@{
    ViewData["Title"] = @Localizer["page_title"];
}

<div class="h-100 p-5 bg-light border rounded-3">
    <p>
        <span class="h1">@Model.Name</span>
        <span class="text-secondary">@Localizer["by"]: 
            <a href="@Url.Action("GetUser", "Users", new { username = @Model.Author?.UserName })">@Model.Author?.UserName</a>
            </span>
    </p>
    <p>@Model.Description</p>
    <p class="text-secondary">@Localizer["last_modified"]: @Model.Modified</p>
    <table class="table table-hover">
        <tbody>
            @foreach(var item in Model.Items)
            {
                <tr style="cursor:pointer" onclick="window.location.href = '@Url.Action("Items", "Collections", new { id = item.Id })'">
                    <td>@item.Name</td>
                    @for(int i = 0; i < 3; ++i)
                    {
                        <td>
                            @if (item.CustomStringFields.Count > i)
                            {
                                var field = item.CustomStringFields[i];
                                <div class="form-floating">
                                    <span style="font-size:0.7em" class="text-secondary">@(field.Name):</span>@field.Value
                                </div>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>