@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@model CollectionItemDto
@{
    ViewData["Title"] = @Localizer["page_title"];
}
@section Scripts{
    <script src="~/js/likes.js"></script>
}

<div class="h-100 p-5 bg-light border rounded-3">
<p>
    <span class="h1">@Model.Name</span>
    <span class="text-secondary">@Localizer["in"] 
        <a asp-controller="Collections" asp-action="GetCollection" asp-route-id="@Model.Collection?.Id">@Model.Collection?.Name</a>
    </span>
    <p class="like btn btn-outline-dark" data-liked="@Model.Liked" data-id="@Model.Id"><i class="bi bi-star @(Model.Liked ? "icon-liked" : "icon-unliked")"></i><span class="like-counter" data-value="@Model.LikeCount">@Model.LikeCount</span></p>
    @if(ViewData["IsOwner"] as bool? ?? false)
    {
        <a type="button" class="btn btn-danger" href="@Url.Action("DeleteItem", "Collections", new { id = Model.Id })">@Localizer["delete_item"]</a>
    }
</p>
<p class="text-secondary">@Localizer["last_modified"]: @Model.Modified</p>

<table class="table">
    <tbody>
        @foreach(var field in Model.CustomIntFields)
        {
            <tr>
                <td>@field.Name</td>
                <td>@field.Value</td>
            </tr>
        }
        @foreach(var field in Model.CustomStringFields)
        {
            <tr>
                <td>@field.Name</td>
                <td>@field.Value</td>
            </tr>
        }
        @foreach(var field in Model.CustomTextAreaFields)
        {
            <tr>
                <td>@field.Name</td>
                <td style="white-space:pre-wrap">@field.Value</td>
            </tr>
        }
        @foreach(var field in Model.CustomBoolFields)
        {
            <tr>
                <td>@field.Name</td>
                <td><i class="bi @((bool)field.Value! ? "bi-check-lg text-success" : "bi-x-lg text-danger")"></i></td>
            </tr>
        }
        @foreach(var field in Model.CustomDateFields)
        {
            <tr>
                <td>@field.Name</td>
                <td>@DateOnly.FromDateTime((DateTime)field.Value!)</td>
            </tr>
        }
    </tbody>
</table>
</div>
