@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@model CollectionItemDto
@{
    ViewData["Title"] = @Model.Name;
}
@section Scripts{
    <script type="text/javascript">
        var itemId = @(Model.Id);
        var isAdmin = @(Model.IsAdmin ? "true" : "false");
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@@microsoft/signalr@@6.0.10/dist/browser/signalr.min.js"></script>
    <script src="~/js/likes.js"></script>
    <script src="~/js/comments.js"></script>
}

<div class="h-100 p-5 bg-light border rounded-3">
<div class="d-flex flex-row align-items-center">
    <p>
    <span class="h1">@Model.Name</span>
    <span class="text-secondary">@Localizer["in"] 
        <a asp-controller="Collections" asp-action="GetCollection" asp-route-id="@Model.Collection?.Id">@Model.Collection?.Name</a>
    </span>
    </p>
    <button class="like btn btn-outline-dark mx-3" type="button" data-liked="@Model.Liked" data-id="@Model.Id"><i class="bi bi-star @(Model.Liked ? "icon-liked" : "icon-unliked")"></i><span class="like-counter" data-value="@Model.LikeCount">@Model.LikeCount</span></button>
</div>
    @if(Model.IsOwner || Model.IsAdmin)
    {
        <div>
        <a type="button" class="btn btn-outline-primary" href="@Url.Action("EditItem", "Collections", new { id = Model.Id })"><i class="bi bi-pencil"></i>@Localizer["edit_item"]</a>
        <a type="button" class="btn btn-danger confirm" href="@Url.Action("DeleteItem", "Collections", new { id = Model.Id })">@Localizer["delete_item"]</a>
        </div>
    }
<p class="text-secondary">@Localizer["last_modified"]: @Model.Modified</p>
<div class="table-responsive">
    <table class="table">
        <tbody>
            @for(int i = 0; i < Model.CustomIntFields.Count; ++i)
            {
                <tr>
                    <td>@Model.TemplateItem.CustomIntFields[i].Name</td>
                    <td>@Model.CustomIntFields[i].Value</td>
                </tr>
            }
            @for(int i = 0; i < Model.CustomStringFields.Count; ++i)
            {
                <tr>
                    <td>@Model.TemplateItem.CustomStringFields[i].Name</td>
                    <td>@Model.CustomStringFields[i].Value</td>
                </tr>
            }
            @for(int i = 0; i < Model.CustomTextAreaFields.Count; ++i)
            {
                <tr>
                    <td>@Model.TemplateItem.CustomTextAreaFields[i].Name</td>
                    <td style="white-space: pre-wrap">@Model.CustomTextAreaFields[i].Value</td>
                </tr>
            }
            @for(int i = 0; i < Model.CustomBoolFields.Count; ++i)
            {
                <tr>
                    <td>@Model.TemplateItem.CustomBoolFields[i].Name</td>
                    <td>
                        @if(Model.CustomBoolFields[i].Value)
                        {
                            <i class="bi bi-check-lg text-success"></i>
                        } else
                        {
                            <i class="bi bi-x-lg text-danger"></i>
                        }
                    </td>
                </tr>
            }
            @for(int i = 0; i < Model.CustomDateFields.Count; ++i)
            {
                <tr>
                    <td>@Model.TemplateItem.CustomDateFields[i].Name</td>
                    <td>@(Model.CustomDateFields[i].Value != null ? DateOnly.FromDateTime((DateTime)Model.CustomDateFields[i].Value!) : null)</td>
                </tr>
            }
            <tr>
                    <td>@Localizer["tags"]</td>
                    <td colspan="3">
                    @foreach(var tag in Model.Tags)
                    {
                        <a href="@Url.Action("Search", "Search", new { searchTerm = @tag.Name } )" class="badge bg-secondary">@tag.Name</a>
                    }
                    </td>
            </tr>
        </tbody>
    </table>
</div>
@if(User.Identity!.Name != null)
{
    <form data-item-id="@Model.Id" class="add-comment mb-3" class="mb-3" action="@Url.Action("AddComment", "Collections", new { itemId = @Model.Id })" method="post">
        <textarea name="commentText" class="form-control mb-1"></textarea>
        <input type="submit" class="btn btn-primary" value="@Localizer["submit_comment"]">
    </form>
}
<div id="comments">
@foreach(var comment in Model.Comments)
{
    <div class="card mb-3 comment" data-comment-id="@comment.Id">
        <div class="card-header">
            <a class="text-dark" href="@Url.Action("GetUser", "Users", new { username = comment.UserName })">@comment.UserName</a>
            <span>@Localizer["commented"]:</span>
            <span class="text-muted">@comment.Created</span>
            @if (Model.IsAdmin)
            {
                <a href="#!" class="link-danger delete-comment" data-comment-id="@comment.Id">@Localizer["delete_comment"]</a>
            }
        </div>
        <div class="card-body">
            <p class="card-text">@comment.Text</p>
        </div>
    </div>
}
  </div>

<script id="comment-template" type="x-tmpl-mustache">
      <div class="card mb-3 comment" data-comment-id="{{ id }}">
            <div class="card-header">
                <a class="text-dark" href="/users/{{ userName }}">{{ userName }}</a>
                <span>@Localizer["commented"]:</span>
                <span class="text-muted">{{ created }}</span>
                {{ #isAdmin }}
                    <a href="#!" class="link-danger delete-comment" data-comment-id="{{ id }}">@Localizer["delete_comment"]</a>
                {{ /isAdmin }}
            </div>
            <div class="card-body">
                <p class="card-text">{{ text }}</p>
            </div>
        </div>
</script>
</div>