@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@inject IHtmlLocalizer<Project.Localization.SharedResources> SharedLocalizer;
@model UserDto
@{
    ViewData["Title"] = @Model.User.UserName;
}

    <div class="card h-100">
        <div class="card-header">
            <span class="h1">@Localizer["users_collections", Model.User.UserName]</span>
        </div>
    <div class="d-flex flex-wrap align-content-start justify-content-center card-body">
        @foreach(var collection in Model.Collections)
        {
            <div class="card m-3" style="width:18rem;">
                <div class="ratio ratio-16x9">
                    @if(collection.ImageId == null)
                    {
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#868e96"></rect>
                            <text x="50%" y="50%" fill="#dee2e6" dy=".3em" class="user-select-none">@Localizer["no_image"]</text>
                        </svg>
                    }
                    else{
                        <img width="100%" src="@Url.Action("GetImage", "Collections", new { id = collection.ImageId })" class="card-img-top" style="object-fit:cover">
                    }
                </div>
                <div class="card-body">
                    <h5 class="card-title">@collection.Name</h5>
                    <h6 class="card-subtitle text-muted">@SharedLocalizer[collection.Topic]</h6>
                    <p class="card-text description-preview markdown">@collection.Description</p>
                    <a href="@Url.Action("GetCollection", "Collections", new { id = collection.Id })" class="btn btn-primary">@Localizer["view_collection"]</a>
                </div>
            </div>
        }
        @if (Model.IsOwner)
        {
            <div class="m-3 d-flex justify-content-center align-items-center" style="width:18rem;">
                <a class="btn btn-outline-primary" href="@Url.Action("AddCollection", "Collections")">
                <i class="bi bi-plus"></i>
            </a>
            </div>
        }
    </div>
    <div class="d-flex flex-row align-items-center justify-content-center p-3">
        <a href="@Url.Action("GetUser", "Users", new { username = Model.User.UserName, page = ((IHasPages)Model).PrevPage })" class="btn btn-primary m-2"><i class="bi bi-caret-left-fill"></i></a>
        <p>@Localizer["page"] @Model.Page</p>
        <a href="@Url.Action("GetUser", "Users", new { username = Model.User.UserName, page = ((IHasPages)Model).NextPage })" class="btn btn-primary m-2"><i class="bi bi-caret-right-fill"></i></a>
    </div>
</div>