@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@model HomePageModel
@{
    ViewData["Title"] = Localizer["page_title"];
}
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.6.1/d3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-cloud@1.2.5/build/d3.layout.cloud.min.js"></script>
    <script src="~/js/tagcloud.js"></script>
}
<div class="row mb-3">
    <div class="col-6">
        <div class="card text-center h-100">
            <div class="card-header">
                <h4>@Localizer["popular_tags"]</h4>
            </div>
            <div id="tag-cloud-card" class="card-body">
                <svg id="tag-cloud">

                </svg>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card text-center mb-3">
            <div class="card-header">
                <h4>@Localizer["recent_items"]</h4>
            </div>
            <div class="card-body">
                <table class="table">
                        <tbody>
                            @foreach(var item in Model.RecentItems)
                            {
                                <tr>
                                    <td>
                                        <a class="text-dark" href="@Url.Action("Items", "Collections", new { id = item.Id })">@item.Name</a>
                                        <span style="font-size:0.7em" class="text-secondary">
                                            @Localizer["in"]
                                        </span>
                                        <a class="text-dark" href="@Url.Action("GetCollection", "Collections", new { id = item.Collection!.Id })">@item.Collection!.Name</a>
                                        <span style="font-size:0.7em" class="text-secondary">
                                            @Localizer["by"]
                                        </span>
                                        <a class="text-dark" href="@Url.Action("GetUser", "Users", new { username = item.Collection.Author!.UserName})">@item.Collection.Author!.UserName</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-header">
                <h4>@Localizer["largest_collections"]</h4>
            </div>
            <div class="card-body">
                <table class="table">
                        <tbody>
                            @foreach(var collection in Model.LargestCollections)
                            {
                                <tr>
                                    <td>
                                        <a class="text-dark" href="@Url.Action("GetCollection", "Collections", new { id = collection!.Id })">@collection.Name</a>
                                        <span style="font-size:0.7em" class="text-secondary">
                                            @Localizer["by"]
                                        </span>
                                        <a class="text-dark" href="@Url.Action("GetUser", "Users", new { username = collection.Author!.UserName})">@collection.Author!.UserName</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>